/* https://www.1001fonts.com/pfeffer-mediaeval-font.html */

@font-face {
  font-family: 'medieval';
  src: url('@/assets/pfeffer-mediaeval/PfefferMediaeval.otf');
}

* {
  font-family: "medieval";
  font-size: 20px;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  margin: 0;
}